[submodule "cwm4"]
	path = cwm4
	url = https://github.com/CarloWood/cwm4.git
[submodule "statefultask"]
	path = statefultask
	url = https://github.com/CarloWood/ai-statefultask.git
[submodule "utils"]
	path = utils
	url = https://github.com/CarloWood/ai-utils.git
[submodule "threadsafe"]
	path = threadsafe
	url = https://github.com/CarloWood/ai-threadsafe.git
[submodule "cwds"]
	path = cwds
	url = https://github.com/CarloWood/cwds.git
